<ons-page ng-controller="createJobController" class="createJob">
    <ons-toolbar>
        <div class="left"><ons-back-button ons-if-platform="ios">Back</ons-back-button></div>
        <div class="center">Create Job</div>
    </ons-toolbar>
    <ng-form novalidate class="createJobForm">
        <!--What-->
        <ons-row>
            <ons-col width="90px">
                <label for="title">Title</label>
            </ons-col>
            <ons-col>
                <input id="title" ng-model="Job.Title" />
            </ons-col>
        </ons-row>
        <ons-row>
            <ons-col width="50px">
                <label>Photo</label>
            </ons-col>
            <ons-col>
                <div class="photo" ng-style="{'background': 'url(' + image + ') no-repeat'}">
                    <label for="{{uploadingImage?'':'upload'}}">
                        <ons-icon spin="{{uploadingImage}}"
                                  icon="{{uploadingImage?'ion-load-c':'ion-upload'}}">
                        </ons-icon>
                    </label>
                    <input type="file"
                           id="upload"
                           name="photoUpload"
                           accept="image/*"
                           file-model="imageData"
                           capture="camera">
                </div>
            </ons-col>
        </ons-row>
        <ons-row>
            <ons-col width="100px">
                <label for="description">Description</label>
            </ons-col>
            <ons-col>
                <textarea id="description" ng-model="Job.PublicDescription" style="height:100px;"></textarea>
            </ons-col>
        </ons-row>

        <!--Where-->
        <ons-row>
            <ons-col width="100px">
                <label>Location</label>
            </ons-col>
            <ons-col>
                <input placeholder="Address Line 1" ng-model="Job.Address.Line1" id="addressLine1" />
                <input placeholder="Address Line City" ng-model="Job.Address.City" id="addressCity" />
                <input placeholder="Address Line State" ng-model="Job.Address.State" id="addressState" />
                <input placeholder="Address Line Zip" ng-model="Job.Address.Zip" id="addressZip" />
            </ons-col>
        </ons-row>
        <!--When-->
        <ons-row>
            <ons-col width="100px">
                <label>Date & Time</label>
            </ons-col>
            <ons-col>
                <input type="datetime" ng-model="Job.Earliest" id="date" />
            </ons-col>
        </ons-row>
        <!--Save-->
        <ons-row>
            <ons-button ng-click="CreateJob()">Post Job</ons-button>
        </ons-row>
    </ng-form>

</ons-page>