<ons-page ng-controller="createJobController" class="createJob">
    <ons-toolbar class="menuBanner">
        <div class="left"><ons-back-button >Back</ons-back-button></div>
        <div class="center">Create Job</div>
    </ons-toolbar>
    <ng-form novalidate class="createJobForm">
        <ons-row>
            <ons-col>
                <label for="title">Title<br />
                    <span class="description">A brief summary of your job.</span>
                </label>
                <input id="title" ng-model="Job.Title" />
            </ons-col>
        </ons-row>
        <ons-row>
            <ons-col>
                <label>Photo<br />
                    <span class="description">
                        A picture can say a thousand words.  Share a photo of your job.
                    </span>
                </label>

                <div class="photo" ng-style="{'background': 'url(' + image + ') no-repeat'}">
                    <label for="{{uploadingImage?'':'upload'}}">
                        <ons-icon spin="{{uploadingImage}}"
                                  icon="{{uploadingImage?'ion-load-c':'ion-upload'}}">
                        </ons-icon>
                    </label>
                    <input type="file"
                           id="upload"
                           name="photoUpload"
                           accept="image/*"
                           file-model="imageData"
                           capture="camera"
                           >
                </div>
            </ons-col>
        </ons-row>
        <ons-row>
            <ons-col>
                <label for="description">
                    Description<br />
                    <span class="description">
                        Tell the world about your job.
                    </span>
                </label>

                <textarea id="description" ng-model="Job.PublicDescription" style="height:100px;"></textarea>
            </ons-col>
        </ons-row>

        <!--Where-->
        <ons-row>
            <ons-col>
                <label>
                    Job Location<br />
                    <span class="description">Where this job is located.</span>
                </label>

                <input placeholder="Address Line 1" ng-model="Job.Address.Line1" />
                <input placeholder="City" ng-model="Job.Address.City" />
                <input placeholder="State" ng-model="Job.Address.State"  />
                <input placeholder="Zip" ng-model="Job.Address.Zip" />
            </ons-col>
        </ons-row>
        <!--When-->
        <ons-row>
            <ons-col>
                <label>Date<br />
                    <span class="description">Earliest you would like this job done.</span>
                </label>

                <input type="datetime-local" ng-model="Job.Earliest" id="date" />
            </ons-col>
        </ons-row>
        <!--Save-->
        <ons-row>
            <ons-button ng-click="CreateJob()">Post Job</ons-button>
        </ons-row>
    </ng-form>

</ons-page>
