<ons-page ng-controller="dashboardController" class="dashboard">
    <ons-toolbar class="menuBanner">
        <div class="right">
            <i class="ion-settings"></i>
        </div>
    </ons-toolbar>
    <!--<div class="menuBanner">
       
    </div>-->
    <div class="userBanner">

        <div class="userPicture" 
             style="
                background-size:contain; 
                background-image: url('app/images/icon-logo.png');
                background-repeat: no-repeat;
                background-attachment:scroll;
                background-position:center center;"></div>
        <span ng-bind="LoggedInUser.owner.Name"></span>
        <div class="bling">
            <i class="ion-hammer"></i>
            <span class="alerts"></span>
        </div>
    </div>

    <div class="content">
        <ul>
            <li class="option searchJobs" ng-click="SearchJobs()">
                <i class="fa fa-search type">
                    <i class="fa fa-wrench" style="
                        position : absolute;
                        top: 29px;
                        font-size: 16px;
                        left: 27px;"></i>
                </i>
                <i class="fa fa-angle-right"></i>
                 <p class="text">
                   <span class="label">Search for a job!</span>
                   <span class="description">Find and bid on jobs near you!</span>
                </p>
            </li>
            <li class="option createJob" ng-click="CreateJob()">
                <i class="fa fa-plus-circle type"></i>
                <i class="fa fa-angle-right"></i>
                <p class="text">
                    <span class="label">Create a job</span>
                    <span class="description">Get your project done!</span>
                </p>
            </li>
            <!--Putting this here as a place holder for what 
            i imagined the "Alerts" could look like-->
            <!--<li class="alert acceptedBid">
                <i class="fa fa-check-circle-o type"></i>
                <i class="fa fa-angle-right"></i>
                <p class="alertText">
                    <span class="label">Your bid was accepted!</span>
                    <span class="description">$300 on "Move my rocks!"</span>
                </p>
            </li>

            <li class="alert confirmBid">
                <i class="ion-briefcase type"></i>
                <i class="fa fa-angle-right"></i>
                <p class="alertText">
                    <span class="label">Your Job is Confirmed!</span>
                    <span class="description">"Move my rocks!"</span>
                </p>
            </li>

            <li class="alert jobFinished">
                <i class="fa fa-flag-checkered type"></i>
                <i class="fa fa-angle-right"></i>
                <p class="alertText">
                    <span class="label">Your job has been Finished!</span>
                    <span class="description">"Move my rocks!"</span>
                </p>
            </li>

            <li class="alert jobPaid">
                <i class="fa fa-usd type"></i>
                <i class="fa fa-angle-right"></i>
                <p class="alertText">
                    <span class="label">You've been paid!</span>
                    <span class="description">$300 on "Move my rocks!"</span>
                </p>
            </li>-->
        </ul>
        
      

    </div>


</ons-page>