<ons-page ng-controller="loginController">
    <div style="text-align: center;">
        <img src="App/images/icon-logo-with-text.png" style="width: 200px; margin-top: 20px;" />
    </div>

    <div style="margin: 0 10px; padding: 5px; background-color: #f9f9f9;">
        <input placeholder="Email Address" class="text-input" ng-model="email" style="width:100%;" />
        <input placeholder="Password" type="password" class="text-input" ng-model="password" style="width:100%; margin-bottom:10px;" />
        <ons-button modifier="large" ng-click="Login()" style="width:100%; margin-bottom:10px;">Login</ons-button>
        <a href="#" style="width:100%" ng-click="GoToRegister()">Sign Up</a>
    </div>

</ons-page>
