<ons-page ng-controller="loginController">
    <div style="text-align: center;">
        <img src="App/images/icon-logo-with-text.png" style="width: 200px; margin-top: 20px;" />
    </div>

    <div style="margin: 0 10px; padding: 5px; background-color: #f9f9f9;">
        <form name="login.form" novalidate ng-submit="login.Submit()">
            <input placeholder="Email Address" class="text-input" ng-model="login.email" style="width:100%;" />
            <input placeholder="Password" type="password" class="text-input" ng-model="login.password" style="width:100%; margin-bottom:10px;" />
            <ons-button modifier="large" ng-click="login.LoginClick()" style="width:100%; margin-bottom:10px;">Login</ons-button>
            <a href="/#/Register" style="width:100%" >Sign Up</a>

            <input type="submit" value="Login" class="ng-hide" />
        </form>
</div>
</ons-page>
