<ons-page ng-controller="PlaceBidController" class="placeBid">
    <ons-toolbar>
        <div class="left"><ons-back-button></ons-back-button></div>
        <div class="center">Place Bid</div>
    </ons-toolbar>
    <div>
        <div class="jobState">
            <hr style="margin:0px;" />
            <div>
                <div class="bid">
                    <ons-icon icon="ion-social-usd"></ons-icon>
                    <input type="text" ng-keyup="CalculateTotal()"
                           id="bid_amount" ng-model="bid.Amount" placeholder="Bid" />
                    <div class="inputTitle">Customer Pays</div>
                </div>
                <div class="serviceCharge" hidden="hidden">
                    <ons-icon icon="ion-social-usd"></ons-icon>
    <div class="serviceChargeLabel">{{bid.ServiceCharge}}</div>
                    <div class="inputTitle">Service Charge</div>
                </div>
                <div class="bid">
        <ons-icon icon="ion-social-usd"></ons-icon>
                    <input type="text" ng-keyup="CalculateAmount()"
                           id="bid_total" ng-model="bid.Total" placeholder="Bid" />
                    <div class="inputTitle">You Keep</div>
                    <ons-button ng-click="BidOnCurrentJob()">Place Bid</ons-button>
                </div>

            </div>
        </div>
    </div>
</ons-page>