<ons-page ng-controller="registerController">
    <ons-toolbar>
        <div class="left"><ons-back-button ons-if-platform="ios">Back</ons-back-button></div>
        <div class="center">Sign Up</div>
    </ons-toolbar>

    <div style="text-align: center;">
        <img src="App/images/icon-logo-with-text.png" style="width: 200px; margin-top: 20px;" />
    </div>

    <div style="margin: 0 10px; padding: 5px; background-color: #f9f9f9;">
        <form name="register.form" novalidate ng-submit="register.Submit()">
            <input placeholder="Email Address" name="email" ng-model="register.email" type="email" class="text-input" style="width:100%;" required />
            <div class="validation-error" ng-messages="register.form.email.$error" ng-if="register.form.$submitted">
                <div ng-message="required">Required</div>
                <div ng-message="email">Invalid format for email address</div>
            </div>

            <input placeholder="Password" name="password" ng-model="register.password" type="password" class="text-input" style="width:100%" required />

            <div class="validation-error" ng-messages="register.form.password.$error" ng-if="register.form.$submitted">
                <div ng-message="required">Required</div>
            </div>

            <ons-button modifier="large" ng-click="register.RegisterClick()" style="width:100%; margin-top: 10px;">Sign Up</ons-button>
            <input type="submit" value="Sign Up" class="ng-hide" />
        </form>
    </div>


</ons-page>
