<ons-page ng-controller="ReviewJobController" class="reviewJob">
    <ons-toolbar>
        <div class="left"><ons-back-button ons-if-platform="ios"></ons-back-button></div>
        <div class="center">{{job.Title}}</div>
    </ons-toolbar>
    <div class="jobDescription">
        <img ng-src="{{job.Media[0].URL}}" />
        <div class="description">
            {{job.PublicDescription}}
        </div>
        <sup class="location">
            <span>Located in <b>{{job.Address.City}}</b>, <b>{{job.Address.State}}</b></span>
        </sup>
    </div>
    <div class="jobState">
        <hr style="margin:0px;" />
        <div class="pending">
            <!-- As the job Owner, i want to see a list of bids here and be able to accept a bid-->
            <!-- for now, as the non owner, i want to have the option to bid on this job (Perhaps to also see all other bids as well) -->
            <div class="bid" ng-show="!!!isJobOwner">
                <ons-icon icon="ion-social-usd"></ons-icon>
                <input type="text"
                       id="bid_amount" ng-model="bid.Amount" placeholder="0.00" />
                <ons-button ng-click="BidOnCurrentJob()">Place Bid</ons-button>
            </div>
            <div class="bids" ng-show="!!isJobOwner">
                
                <div class="bid" ng-repeat="bid in job.Bids">
                    <div class="owner">
                        <img class="photo" ng-src="{{bid.Owner.Media[0]}}" />
                        <div class="name">{{bid.Owner.Name}}</div>
                    </div>
                    <div class="accept">
                        <ons-button ng-click="">Accept</ons-button>
                    </div>

                    <div class="amount">
                        <span> {{bid.Amount | currency}}</span>
                    </div>


                </div>
                    
            </div>
        </div>
        <div class="accepted">
            <!-- As the job owner, i want to see the accepted bid-->
            <!-- As the owner of the winning bid, i want to see the option to 'Finish' the job-->
            <!-- As the non-owner of the job or the winning bid, I want to see the winning bid -->
        </div>
        <div class="finished">
            <!-- As the job owner, I want to see that the job was marked as finished with an option to "Pay"-->
            <!-- As the owner of the winning bid, i want to see that the job was marked as finished and is waiting payment from the owner of the job-->
            <!-- as the non-owner of the bid or job, I want to see the winning bid -->
        </div>
        <div class="satisfied">
            <!-- as the job owner, I want to see that this job was marked finished and payment was made.-->
            <!-- As the owner of the winning bid, i want to see that the job was marked finished and payment was made.-->
            <!-- As the non-owner of the bid or job, i want to see that the job was finished and paid.-->
        </div>
    </div>

</ons-page>