body, html{
    height:100%;
    width:100%;
}
.validation-error {
    color: #ff0000;
}

.left {
    text-align: left;
}

.stripe_checkout_app{
  overflow-y: hidden !important;
}

.dashboard {
}

    .dashboard ons-button {
        margin-top: 2%;
        margin-left: 5%;
        width: 90%;
        text-align: center;
        padding-top: 12px;
        margin-bottom: 2%;
    }

    .dashboard .jobs {
        height: 83vh;
    }

    .dashboard .jobs ons-list {
        padding-bottom: 100px;
    }

    .dashboard .bottom-bar {
        box-shadow: darkgray 0px -1px 5px;
        height: 9vh !important;
    }

    .dashboard .bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: lightgray !important;
    }

    .dashboard .job {
        height: 90px;
    }

        .dashboard .job .title {
            font-weight: bold;
            font-size: larger;
            line-height: 1em;
            max-height: 90px;
        }

        .dashboard .job .description {
            margin-top: 3px;
            line-height: 1em;
            padding-right: 20px;
            overflow: hidden;
        }

        .dashboard .job .thumb {
            width: 90px;
            height: 90px;
            background-color: white;
            margin: 2px;
        }

        .dashboard .job .overlay {
            position: absolute;
            bottom: 0px;
            width: 68%;
            height: 63px;
            background: linear-gradient(to top, rgba(255,255,255,1) 18%,rgba(255,255,255,0) 100%);
        }

.createJob {
        margin-left: 5px;
        margin-right: 5px;
}

    .createJob .createJobForm {
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

        .createJob .createJobForm ons-row {
            padding-bottom: 30px;
            border-bottom: 1px solid lightgray;
            margin-top: 10px;
            margin-bottom: 30px;
        }

        .createJob .createJobForm label {
            font-weight: bold;
            font-size: x-large;
        }
        .createJob .createJobForm label .description {
            font-weight: normal;
            font-size: medium;
            color: #808080;
        }


        .createJob .createJobForm input, textarea {
            font-size: x-large;
            width: 100%;
            border: 0;
            padding: 2px 5px;
            box-shadow: rgba(235,235,235,1) 2px 2px 5px inset;
            line-height: 2em;
        }

        .createJob .createJobForm ons-row ons-col .photo {
            height: 300px;
            margin-right: 10px;
            padding: 10px;
            box-sizing: border-box;
            background-size: contain !important;
            background-position-x: center !important;
            background-position-y: center !important;
            overflow: hidden;
        }

            .createJob .createJobForm ons-row ons-col .photo > label {
                color: lightgray;
                border: 5px dashed lightgray;
                height: 100%;
                width: 100%;
                display: inline-block;
                text-align: center;
                opacity: .5;
                cursor: pointer;
                margin-bottom: 2px;
                box-sizing: padding-box;
            }

                .createJob .createJobForm ons-row ons-col .photo > label ons-icon {
                    font-size: 300px;
                }

            .createJob .createJobForm ons-row ons-col .photo input[type="file"] {
                visibility: hidden;
            }

        .createJob .createJobForm ons-row ons-button {
            margin-left: 5%;
            width: 90%;
            height: 8vh;
            text-align: center;
            padding-top: 2vh;
            bottom: 0px;
        }

.reviewJob {
}

    .reviewJob .jobDescription {
    }

        .reviewJob .jobDescription img {
            height: 45vh;
            width: 100%;
            background-color: black;
        }

        .reviewJob .jobDescription .description {
            margin: 3px 5px 5px 5px;
            padding: 10px;
            height: 25vh;
            overflow-x: hidden;
            background-color: #FDF7EF;
            overflow-y: scroll;
        }

        .reviewJob .jobDescription .location {
            display: block;
            font-style: italic;
            padding-left: 25px;
            margin-left: 5px;
            margin-right: 5px;
        }

    .reviewJob .jobState > .bid {
        width: 100%;
        height: 15vh;
    }

    .reviewJob .jobState .bid ons-icon {
        font-size: 8em;
        color: rgba(200,200,200,0.15);
        position: absolute;
        bottom: 0vh;
        font-style: italic;
        left: -4vw;
    }

    .reviewJob .jobState .acceptedBid ons-icon{
        color: rgba(28, 216, 13, 0.21) !important;
        font-size:5em;
        right:0vw;
        left:auto !important;
       
    }

    .reviewJob .jobState .bid input {
        border: none;
        border-bottom: 1px solid lightgray;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: transparent;
        font-size: 1.5em;
        width: 55vw;
        padding: 0px 0px 0px 15px;
        text-align: center;
        font-size: 3em;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        position: absolute;
        bottom: 1vh;
        left: 10vw;
    }

    .reviewJob .jobState .bid > ons-button {
        text-align: center;
        width: 26vw;
        position: absolute;
        bottom: 0px;
        right: 0px;
        height: 26vw;
        margin: 0px 5px 5px 0px;
        padding-top: 9.5%;
        box-sizing: border-box;
    }

    .reviewJob .jobState .acceptedBid > ons-button {
        text-align: center;
        width: 80vw;
        position: absolute;
        bottom: 0px;
        right: 9vw;
        height: 23vw;
        margin: 0px 5px 5px 0px;
        padding-top: 7%;
        box-sizing: border-box;
    }

    .reviewJob .jobState .bids {
    }

        .reviewJob .jobState .bids .bid {
            border-bottom: 1px solid darkgray;
            padding-left: 4px;
            padding-top: 4px;
            margin-top: 5px;
            height: 80px;
            position: relative;
        }


            .reviewJob .jobState .bids .bid .accept {
                float: right;
                margin-top: 10px;
                margin-right: 10px;
            }

            .reviewJob .jobState .bids .bid .amount {
                display: inline;
                font-size: xx-large;
                float: right;
                margin-right: 25px;
                margin-top: 15px;
            }

            .reviewJob .jobState .bids .bid .owner {
                display: inline;
                width: 100px;
                text-align: center;
            }

                .reviewJob .jobState .bids .bid .owner .photo {
                    display: inline;
                    height: 60px;
                    width: 60px;
                    background-color: black;
                    border-radius: 50px;
                }

                .reviewJob .jobState .bids .bid .owner .name {
                    position: absolute;
                    left: 4px;
                    bottom: 0px;
                }
