.left {
    text-align: left;
}

.dashboard {
}

    .dashboard ons-button {
        margin-top: 2%;
        margin-left: 5%;
        width: 90%;
        text-align: center;
        height: 7vh;
        padding-top: 12px;
        bottom: 0px;
    }

    .dashboard .jobs {
        height: 83vh;
    }

    .dashboard .bottom-bar {
        box-shadow: darkgray 0px -1px 5px;
        height: 9vh !important;
    }

    .dashboard .bottom {
        background-color: lightgray !important;
        height: 100%;
    }

    .dashboard .job {
        height: 90px;
    }

        .dashboard .job .title {
            font-weight: bold;
            font-size: larger;
            line-height: 1em;
            max-height: 90px;
        }

        .dashboard .job .description {
            margin-top: 3px;
            line-height: 1em;
            padding-right: 20px;
            overflow: hidden;
        }

        .dashboard .job .thumb {
            width: 90px;
            height: 90px;
            background-color: black;
            margin: 2px;
        }

        .dashboard .job .overlay {
            position: absolute;
            bottom: 0px;
            width: 68%;
            height: 63px;
            background: linear-gradient(to top, rgba(255,255,255,1) 18%,rgba(255,255,255,0) 100%);
        }

.createJob {
}

    .createJob .createJobForm {
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

        .createJob .createJobForm ons-row {
            width: 100vw;
            padding-bottom: 5px;
            border-bottom: 1px solid;
            border-bottom-color: lightgray;
            margin-top: 10px;
        }

        .createJob .createJobForm > ons-col {
            width: 106px;
        }

        .createJob .createJobForm input, textarea {
            width: 90%;
            font-size: xx-large;
            border: 0px solid white;
            padding-left: 5px;
            padding-top: 2px;
            box-shadow: rgba(235,235,235,1) 2px 2px 5px inset;
        }

        .createJob .createJobForm ons-row ons-col .photo {
            height: 300px;
            margin-right: 10px;
            padding: 10px;
            box-sizing: border-box;
        }

            .createJob .createJobForm ons-row ons-col .photo > label {
                color: lightgray;
                border: 5px dashed lightgray;
                height: 100%;
                width: 100%;
                display: inline-block;
                text-align: center;
                opacity: .5;
                cursor: pointer;
                margin-bottom: 2px;
                box-sizing: padding-box;
            }

                .createJob .createJobForm ons-row ons-col .photo > label ons-icon {
                    font-size: 300px;
                }

            .createJob .createJobForm ons-row ons-col .photo input[type="file"] {
                visibility: hidden;
            }

        .createJob .createJobForm ons-row ons-button {
            margin-left: 5%;
            width: 90%;
            height: 8vh;
            text-align: center;
            padding-top: 2vh;
            bottom: 0px;
        }

.reviewJob {
}

    .reviewJob .jobDescription{
        
    }
    .reviewJob .jobDescription img {
        height: 335px;
        width: 100%;
        background-color: black;
        box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.53);
    }

    .reviewJob .jobDescription .description {
        margin: 3px 5px 5px 5px;
        padding: 10px;
        height: 200px;
        overflow-x: hidden;
        background-color: #FDF7EF;
        overflow-y: scroll;
        box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.53);
    }
    .reviewJob .jobDescription .location{
        display:block;
        font-style:italic;
        padding-left:25px;
        margin-left:5px;
        margin-right:5px;
        box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.53);
    }

