<script type="text/javascript">
    app = angular.module('ProjectDONE', []);

    app.controller('TestingController', function ($scope,$http,Job,Bid,Owner) {
        $scope.job = new Job();
        $scope.bid = new Bid();
        $scope.owner = new Owner();

        $scope.LoadJob = function(jobId)
        {
            $scope.job.getJob(jobId)
                .then(function (result) {
                    $scope.job = new Job(result.data);
                });
        };

        $scope.Login = function()
        {
            $scope.owner
                .Login('david@example.com', 'Abc123!')
                        .then(function (result) {
                            $scope.owner = new Owner(result.data);
                            $http.defaults.headers.common.Authorization = 'Bearer ' + $scope.owner.access_token;
                        })
                        .then(function(){
                            $scope.job.getMyJobs($scope.owner.ID)
                             .then(function (results) {
                                    $scope.owner.jobs = results.data;
                            })});
        }

        $scope.CreateJob = function () {
            $scope.job.create()
                .then(function (result) {
                    $scope.job.ID = result.data.ID;
                    $scope.job.getMyJobs($scope.owner.ID)
                             .then(function (results) {
                                 $scope.owner.jobs = results.data;
                             });
                });
        };

        $scope.PlaceBid = function () {
            $scope.bid.create($scope.job.ID)
                    .then(function (result) {
                        $scope.job.Bids.push(new Bid(result.data));
                        $scope.bid = new Bid();
                    });
            
        }

        $scope.AcceptBid = function (bidId) {
            $scope.bid.acceptBid(bidId)
                .then(function (result) {
                    $scope.bid = new Bid(result.data);
                    $scope.job.AcceptedBid_id = bidId;
                });
        };
    });

    app.factory('Owner', function ($http) {
        function Owner(Owner) {
            if (!!Owner)
                this.set(Owner);
        };

        Owner.prototype = {
            set: function(owner)
            {
                angular.extend(this, owner);
            },
            Login: function(username, password)
            {
                username = encodeURIComponent(username);
                password = encodeURIComponent(password);
                var request =
                    {
                        method: 'POST',
                        url: '/Token',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        data:'grant_type=password&username='+username+'&password='+password
                           
                    };
                return $http(request);
            },
            jobs:[]

        }

        return Owner;
    });

    app.factory('Job', ['$http', function ($http) {
        function Job(job) {
            if (!!job)
                this.set(job);
        };

        Job.prototype = {
            set: function(job){
                angular.extend(this, job);
            },
            create: function () {
                return $http.post('/api/app/Job', this);
            },
            getJob: function (id) {
                return $http.get('/api/app/Job/' + id);
            },
            getMyJobs: function(ownerId){
                return $http.get('/api/app/Job?$select=Title, ID&$filter=Owner_Id eq 1');
            },
            CreatedOn: "",
            CreatedByUserID: "",
            ID: "",
            TransactionID: "",
            Owner: "",
            Title: "",
            PublicDescription: "",
            Latitude: "",
            Longitude: "",
            Demographics: "",
            PrivateDescription: "",
            AcceptedBid_id: "",
            Media: [],
            Dialog: [],
            Bids: [],
            Status:0
        };
        return Job;
    }]);

    app.factory('Bid', ['$http', function ($http) {
        function Bid(Bid) {
            if (!!Bid)
                this.set(Bid);
        };
        //TODO: move these over to a service
        Bid.prototype = {
            set: function (Bid) {
                angular.extend(this, Bid);
            },
            create: function (jobID) {
                return $http.post('/api/app/Job/'+jobID+'/Bid', this)
            },
            getSingle: function (id) {
                console.log("not implmented");
            },
            getMany: function (queryData) {
                console.log("not implemented");
            },
            acceptBid: function(id){
                return $http.post('/api/app/Bid/Accept/' + id);
            },
            CreatedOn: "",
            CreatedByUserID: "",
            ID: "",
            TransactionID: "",
            Owner: "",
            Amount: "",
            Dialog: [],
            job:"",
            Status: 0
        };
        return Bid;
    }]);

</script>
<style type="text/css">
    .group > div{
        float:left;
        margin-right:10px;
    }
    .outline{
        height:300px;
        width:300px;
        border:1px solid black;
        border-radius:10px;
        margin-bottom:10px;
        box-shadow:#ccc 2px 2px 3px;
    }
    .outline > p{
       font-weight: bold;
        margin-left: 10px;
    }
</style>
<div ng-app="ProjectDONE" ng-controller="TestingController">
    <div style="float:right">
        <ul style="list-style:none;">
            <li>Current User : {{owner.userName}}</li>
            <li>Current Job ID: {{job.ID}}</li>
        </ul>
    </div>
    <div class="outline">
        <p>Login</p>
        <ul>
            <li>David@Example.com</li>
            <li>Abc123!</li>
            <li><button ng-click="Login()">Login</button></li>
        </ul>
    </div>
    <div class="group">
        <div class="outline" style="float:left">
            <p>Create a job</p>
            <ul>
                <li><input type="text" ng-model="job.Title" /></li>
                <li><textarea ng-model="job.PublicDescription"></textarea></li>
                <li><button ng-click="CreateJob()">Create</button></li>
            </ul>
        </div>
        <div class="outline" style="float:left;">
            <p>Or pick a job</p>
            <ul ng-repeat="job in owner.jobs">
                <li><a href="#" ng-click="LoadJob(job.ID)">Use</a> - {{job.Title}}</li>
            </ul>
        </div>
    </div>
    <div class="group">
        <div class="outline">
            <p>Review all the bids on the current job</p>
            <ul ng-repeat="bid in job.Bids" style="text-decoration:none;">
                <li>
                    <div style="float:left;">{{bid.Amount | currency}}</div>
                    <div style="float:right; margin-right:10px;"><a href="#" ng-click="AcceptBid(bid.ID)">Accept</a></div>
                </li>
            </ul>
        </div>
        <div class="outline">
            <p>Post a bid on that job</p>
            <ul>
                <li><input type="text" ng-model="bid.Amount" /></li>
                <li><button ng-click="PlaceBid()">Bid</button></li>
            </ul>
        </div>
    </div>
</div>



